.home-section {
  padding: 40px 20px;
  background-color: #111;
}

.home-title {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
}


.movie-banner {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8));
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.banner-title {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.banner-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.banner-button {
  padding: 12px 25px;
  background: #ffcc00;
  color: #000000;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}



.banner-button:hover {
  background: #d5ab03;
}